body{
  margin: 0;
}
.main-header {
  /* background: lightslategrey; */
  /* display: flex; */
  min-width: 100vh;
  /* min-height: 100vh; */
  /* justify-content: space-evenly; */
  /* align-items: center; */
}
.MuiIconButton-label{
  color: white;
}

.header-container {
  width: 100%;
  background: black;
  display: flex;
  justify-content: space-around;
  align-items: center;
  height: 80px;
  font-size: xx-large;
  color: aliceblue;
}

.blogs-wrapper{
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background: lightgray;
  /* height: 700px; */
}

.article-main{
  width: 70%;
  height: 650px;
  overflow: auto;
  margin: 2rem;
}

.image-article{
  width: 50%;
  
}

.article-desc{
  text-align: left;
  margin: 4%;
}